---
title: Pretext Project | Collection of Social Engineering Pretexts
layout: default
---
<body class="landing-page">
  <!-- Navbar -->
  <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom">
    <div class="container">
      <a class='navbar-brand mr-lg-5' href='#'>
        <img src="assets/img/brand/custom1.png">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbar_global">
        <ul class="navbar-nav align-items-lg-center ml-lg-auto">
          <!--<li class="nav-item">
            <a class="nav-link nav-link-icon" href="https://github.com/creativetimofficial/argon-design-system" target="_blank" data-toggle="tooltip" title="Star us on Github">
              <i class="fa fa-github"></i>
              <span class="nav-link-inner--text d-lg-none">Github</span>
            </a>
          </li>-->
          <li class="nav-item d-none d-lg-block ml-lg-4">
            <a href="https://github.com/pretext-project/pretext-project.github.io" target="_blank" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon">
                <i class="fa fa-github"></i>
              </span>
              <span class="nav-link-inner--text">Visit the GitHub Repo</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <div class="wrapper">
    <div class="">
      <div class="page-header">
        <div class="container shape-container d-flex align-items-center pt-lg">
          <div class="col px-0">
            <div class="row align-items-center justify-content-center">
              <div class="col-lg-10 text-center">
                <h1 class="display-1" style='line-height: 1'>Pretext Project</h1>
                <h2 class="display-4 font-weight-normal">Open-Source Collection of Social Engineering Pretexts</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='section-xs'>
      <div class="container">
        <div class="row ">
          <div class="col-md-4">
            <div class="info">
              <h6 class="info-title text-uppercase text-primary">What's a pretext?</h6>
              <p class="description opacity-8">A <a href="https://www.social-engineer.org/framework/influencing-others/pretexting/" target="_blank">pretext</a> is a made-up story that social engineers use to convince a victim to reveal secret information or take a malicious action.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <h6 class="info-title text-uppercase text-success">How do I use this?</h6>
              <p class="description opacity-8">Search by keyword or filter by type of pretext. For example, filter to all pretexts designed for credential harvesting delivered via email.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <h6 class="info-title text-uppercase text-warning">Contribute</h6>
              <p class="description opacity-8">Please review <a href="https://github.com/pretext-project/pretext-project.github.io/blob/master/CONTRIBUTE.md" target="_blank">these contribution guidelines</a> prior to submitting a pretext. If you'd like to help curate our collection of pretexts, please DM <a href="https://twitter.com/joeleonjr" target="_blank">@joeleonjr</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="section-sm">
      <div class="container">
        <div class='row align-items-center'>
          <div class='col-lg-10 mx-auto text-center pb-3'>
            <!-- <span class="badge badge-success badge-pill">Search for Pretexts</span> -->
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-lg-10 mx-auto text-center">
            <div class='form-group'>
              <div class='input-group'>
                  <input class='form-control' id="pretextSearch" placeholder='Search {{site.pretexts.size}} pretexts...' type='text'>
              </div>
            </div>
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col-lg-12 mx-auto text-center">
            <table id="pretextTable" class='table table-bordered  no-wrap' style="width: 100%" data-order='[[ 4, "desc" ]]' data-page-length='200'>
              <thead>
                <tr>
                  <th data-priority="1">Pretext</th>
                  <th data-priority="4">Methods</th>
                  <th data-priority="2">Goal</th>
                  <th data-priority="3">Payloads</th>
                  <th data-priority="5">Date</th>
                  <th data-priority="6">Tags</th>
                </tr>
              </thead>
              <tbody>
                
                {% for i in site.pretexts %}
                <tr>
                  <td style='font-weight: 100'>
                    <a href="{{i.url}}">{{i.title}}</a>
                  </td>
                  <td>
                    {% assign methods = i.methods | split: "," | join: "," %} 

                    {% if methods contains "phone" %}
                        <span class="badge badge-success">phone</span>
                    {% endif %}

                    {% if methods contains "email" %}
                        <span class="badge badge-success">email</span>
                    {% endif %}

                    {% if methods contains "sms" %}
                        <span class="badge badge-success">sms</span>
                    {% endif %}

                    {% if methods contains "voicemail" %}
                        <span class="badge badge-success">voicemail</span>
                    {% endif %}

                    {% if methods contains "chatbot" %}
                        <span class="badge badge-success">chatbot</span>
                    {% endif %}

                    {% if methods contains "physical" %}
                        <span class="badge badge-success">physical</span>
                    {% endif %}

                  </td>
                  <td>
                    {% assign goals = i.goals | split: "," | join: "," | downcase %}
    
                    {% if goals contains "cred harvest" %}
                      <span class="badge badge-success">cred harvest</span>
                    {% endif %}


                    {% if goals contains "malware" %}
                      <span class="badge badge-success">malware</span>
                    {% endif %}


                    {% if goals contains "physical access" %}
                      <span class="badge badge-success">physical access</span>
                    {% endif %}


                    {% if goals contains "info gather" %}
                      <span class="badge badge-success">info gather</span>
                    {% endif %}


                    {% if goals contains "funds transfer" %}
                      <span class="badge badge-success">funds transfer</span>
                    {% endif %}

                  </td>
                  <td>
                   {% assign payloads = i.payloads | split: "," | join: "," | downcase %}
                
                    {% if payloads contains "doc" %}
                      <span class="badge badge-success">doc</span>
                    {% endif %}


                    {% if payloads contains "docx" %}
                      <span class="badge badge-success">docx</span>
                    {% endif %}


                    {% if payloads contains "xls" %}
                      <span class="badge badge-success">xls</span>
                    {% endif %}


                    {% if payloads contains "xlsx" %}
                      <span class="badge badge-success">xlsx</span>
                    {% endif %}


                    {% if payloads contains "ppt" %}
                      <span class="badge badge-success">ppt</span>
                    {% endif %}


                    {% if payloads contains "pptx" %}
                      <span class="badge badge-success">pptx</span>
                    {% endif %}


                    {% if payloads contains "pdf" %}
                      <span class="badge badge-success">pdf</span>
                    {% endif %}


                    {% if payloads contains "hta" %}
                      <span class="badge badge-success">hta</span>
                    {% endif %}


                    {% if payloads contains "exe" %}
                      <span class="badge badge-success">exe</span>
                    {% endif %}


                    {% if payloads contains "bat" %}
                      <span class="badge badge-success">bat</span>
                    {% endif %}


                    {% if payloads contains "zip" %}
                      <span class="badge badge-success">zip</span>
                    {% endif %}


                    {% if payloads contains "xss" %}
                      <span class="badge badge-success">xss</span>
                    {% endif %}


                    {% if payloads contains "csrf" %}
                      <span class="badge badge-success">csrf</span>
                    {% endif %}


                    {% if payloads contains "click-once" %}
                      <span class="badge badge-success">click-once</span>
                    {% endif %}


                    {% if payloads contains "phishing page" %}
                      <span class="badge badge-success">phishing page</span>
                    {% endif %}


                    {% if payloads contains "ole" %}
                      <span class="badge badge-success">ole</span>
                    {% endif %}


                    {% if payloads contains "drive-by-download" %}
                      <span class="badge badge-success">drive-by-download</span>
                    {% endif %}


                    {% if payloads contains "usb drop" %}
                      <span class="badge badge-success">usb drop</span>
                    {% endif %}


                    {% if payloads contains "cloud hosted file" %}
                      <span class="badge badge-success">cloud hosted file</span>
                    {% endif %}

                  <td style='font-weight: 100'>
                    {{ i.date | date: "%B %-d, %Y" }}
                  </td>
                  <td>
                    {% for tag in i.tags %}
                    <span class="badge badge-success">{{ tag }}</span>
                    {% endfor %}
                  </td>
                </tr>
                {% endfor %}
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
 
    <br /><br />

  </div>

<!--   Core JS Files   -->
<script src="assets/js/core/jquery.min.js" type="text/javascript"></script>
<script src="assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="assets/js/core/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="assets/js/plugins/bootstrap-switch.js"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
<script src="assets/js/plugins/moment.min.js"></script>
<script src="assets/js/plugins/datetimepicker.js" type="text/javascript"></script>
<script src="assets/js/plugins/bootstrap-datepicker.min.js"></script>
<!-- Control Center for Argon UI Kit: parallax effects, scripts for the example pages etc -->
<!--  Google Maps Plugin    -->
<script src="assets/js/argon-design-system.min.js?v=1.2.0" type="text/javascript"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.5/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.5/js/responsive.bootstrap4.min.js"></script>
<script>
  $(document).ready( function () {
    $('#pretextTable').DataTable();
  });
  var  table = $('#pretextTable').DataTable( {
    retrieve: true,
    paging: false,
    filtering: true,
    dom: "t",
    columnDefs: [
      { "width": "30%", "targets": 0 },
      {"width": "15%", "targets": 4},
      {"visible": false, "targets": 5, "searchable": true}
    ],
    responsive:  {
      details: true
      }
  } );
</script>
<script>
  var table = $('#pretextTable').DataTable();

  $('#pretextSearch').on( 'keyup', function () {
      table.search( this.value ).draw();
  } );
</script>

</body>
